<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Registro o Logeo</title>
</head>
<body>
    <!-- header-->
    <header class="bg-gradient-to-r from-red-100 to-red-400 shadow-lg ">
        <nav class="mx-auto max-w-7xl px-6 lg:px-8" aria-label="Top">
          <div class="flex w-full items-center justify-between py-6 lg:border-none">
            <div class="flex items-center">
              <a href="#">
                <span class="sr-only">Your Company</span>
                <img class="h-10 w-auto" src="./static/logo.png" alt="">
              </a>
              
            </div>
            <div class="ml-10 space-x-4">
              <a href="#" class="inline-block rounded-md border border-transparent bg-white py-2 px-4 text-base font-medium text-black hover:bg-opacity-75 shadow-lg">Registraste</a>
              <a href="#" class="inline-block rounded-md border border-transparent bg-white py-2 px-4 text-base font-medium text-black hover:bg-opacity-75 shadow-lg">Ingresar</a>
            </div>
          </div>
        </nav>
      </header>
    <!--fin del header-->
    <section class="overflow-hidden bg-gray-50 py-12 md:py-20 lg:py-24">
        <div class="relative mx-auto max-w-7xl px-6 lg:px-8">
          <svg class="absolute top-full right-full translate-x-1/3 -translate-y-1/4 transform lg:translate-x-1/2 xl:-translate-y-1/2" width="404" height="404" fill="none" viewBox="0 0 404 404" role="img" aria-labelledby="svg-workcation">
            <title id="svg-workcation">Workcation</title>
            <defs>
              <pattern id="ad119f34-7694-4c31-947f-5c9d249b21f3" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="404" height="404" fill="url(#ad119f34-7694-4c31-947f-5c9d249b21f3)" />
          </svg>
      
          <div class="relative">
            <img class="mx-auto h-8" src="https://tailwindui.com/img/logos/workcation-logo-indigo-600-mark-gray-800-and-indigo-600-text.svg" alt="Workcation">
            <blockquote class="mt-10">
              <div class="mx-auto max-w-3xl text-center text-2xl font-medium leading-9 text-gray-900">
                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.&rdquo;</p>
              </div>
              
            </blockquote>
          </div>
        </div>
      </section>
    <!--saludo-->
    <div class="bg-white py-16 lg:py-24">
        <div class="relative mx-auto max-w-7xl px-6 lg:px-8">
          <div class="relative overflow-hidden rounded-xl bg-indigo-500 py-24 px-8 shadow-2xl lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-16">
            <div class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
              <img src="https://images.unsplash.com/photo-1601381718415-a05fb0a261f3?ixid=MXwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8ODl8fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1216&q=80" alt="" class="h-full w-full object-cover">
            </div>
            <div class="relative lg:col-span-1">
              <img class="h-12 w-auto" src="https://tailwindui.com/img/logos/workcation-logo-white.svg" alt="">
              <blockquote class="mt-6 text-white">
                <p class="text-xl font-medium sm:text-2xl">This app has completely transformed how we interact with customers. We've seen record bookings, higher customer satisfaction, and reduced churn.</p>
                <footer class="mt-6">
                  <p class="flex flex-col font-medium">
                    <span>Marie Chilvers</span>
                    <span>CEO, Workcation</span>
                  </p>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    <!-- fin del saludo-->


</body>
</html>